
<% @articles.each do |article| %>
  <h2>
    <%= article.title %>
  </h2>
  <p>
    <%= article.text %>
  </p>
  <p>
    <%= link_to 'Show article', article_path(article) %> |
    <%= link_to 'Edit article', edit_article_path(article) %> |
    <%= link_to 'Delete Article', article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %>
  </p>
  <hr>
<% end %>